:root {
    --preto: #000000;
    --fonte-principal:'Poppin', 'sans serif' ;
    --branco: #FFFFFF
}

body {
    background-color:var(--preto);
    color:var(--branco);
    font-size: var(--fonte-principal);
}